body{
    /* margin: auto;
    padding: auto; */
}
a{
    text-decoration: none;
    background: #ddd;
    padding: 10px 15px;
}
tr, th, td{
    border: 1px solid #ddd;
    padding: 30px;
}
table{
    border-collapse: collapse;
}
footer{
    background-color: antiquewhite;
    width: 100%;
    height: 50px;
    text-align: center;
}

/*  Login design    */

.popup{
    background: rgb(226, 222, 222);
    position: absolute;
    /* top: 50px; */
    margin: 40px;
    display: none;
    border-radius: 5px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.pop-content{
    height: 250px;
    width: 500px;
    background: #aff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
input{
    margin: 10px auto 0;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}
input[type="submit"]{
    width: 20%;
    border-radius: 3px;
}
input[type="submit"]:hover{
    background: #aa1;
}
.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}